<!doctype html>
<html class="no-js" lang="en">


<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>EOL Engineering</title>
    <meta name="description" content="Engineering consultancy and management services for the deinstallation of end-of-life facilities and
                                    equipment">
    <meta name="description" content="Providing specialist services for the
                                    decommissioning, decontamination and deinstallation of end-of-life facilities">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="google-site-verification" content="3lh2gRGG2vuK_dddFSoA1_S4GQABf1DhipYCcWSow-E"/>

    <link rel="shortcut icon" type="image/x-icon" href="static/images/logo/400PngdpiLogoCropped.png">
    <link rel="apple-touch-icon" href="static/images/logo/400PngdpiLogoCropped.png">


    <!-- All css files are included here. -->
    <!-- Bootstrap fremwork main css -->
    <link rel="stylesheet" href="static/css/bootstrap.min.css">
    <!-- Owl Carousel  main css -->
    <link rel="stylesheet" href="static/css/owl.carousel.min.css">
    <link rel="stylesheet" href="static/css/owl.theme.default.min.css">
    <!-- This core.css file contents all plugings css file. -->
    <link rel="stylesheet" href="static/css/core.css">
    <!-- Theme shortcodes/elements style -->
    <link rel="stylesheet" href="static/css/shortcode/shortcodes.css">
    <!-- Theme main style -->
    <link rel="stylesheet" href="static/style.css">
    <!-- Responsive css -->
    <link rel="stylesheet" href="static/css/responsive.css">
    <!-- User style -->
    <link rel="stylesheet" href="static/css/custom.css">

    <!-- Modernizr JS -->
    <script src="static/js/vendor/modernizr-2.8.3.min.js"></script>
</head>

<body>
<!--[if lt IE 8]>
<p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade
    your browser</a> to improve your experience.</p>
<![endif]-->

<!-- Body main wrapper start -->
<div class="wrapper">
    <!-- Start Header Style -->
    <div id="header" class="htc-header">
        <!-- Start Header Top -->
        <div class="htc__header__top bg__cat--1">
            <div class="container">
                <div class="row">
                    <div class="col-md-6 col-lg-6 col-sm-6 col-xs-12">
                        <ul class="header__top__left">
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <!-- End Header Top -->
        <!-- Start Mainmenu Area -->
        <div id="sticky-header-with-topbar" class="mainmenu__wrap sticky__header bg__black">
            <div class="container">
                <div class="row">
                    <div class="col-md-2 col-sm-6 col-xs-7">
                        <div class="logo">
                            <img src="static/images/logo/400PngdpiLogoCropped.png" alt="EOL Engineering Ltd."
                                 align="middle"
                                 width="175" height="65">
                        </div>
                    </div>
                    <div class="col-md-5 col-sm-6 col-xs-5">
                        <nav class="main__menu__nav  hidden-xs hidden-sm">
                            <ul class="main__menu">
                                <li class="drop"><a href="#top">HOME</a>
                                </li>
                                <li><a href="#anchor-about">ABOUT</a></li>
                                <li><a href="#anchor-services">SERVICES</a></li>
                                <li><a href="#anchor-contact">CONTACT</a></li>
                            </ul>
                        </nav>
                        <div class="mobile-menu clearfix visible-xs visible-sm">
                            <nav id="mobile_dropdown">
                                <ul>
                                    <li><a href="index.html">Home</a>
                                    </li>
                                    <li><a href="#anchor-about">ABOUT</a></li>
                                    <li><a href="#anchor-services">SERVICES</a></li>
                                    <li><a href="#anchor-contact">CONTACT</a></li>
                                </ul>
                            </nav>
                        </div>
                    </div>
                </div>
                <div class="mobile-menu-area"></div>
            </div>
        </div>
        <!-- End Mainmenu Area -->
    </div>
    <!-- End Header Style -->
    <!-- Start Slider Area -->
    <div class="slider__container">
        <div class="slider__activation__wrap owl-carousel owl-theme">
            <!-- Start Single Slide -->
            <div class="slide slider__fixed--height slide__align--center"
                 style="background: rgba(0, 0, 0, 0) url(static/images/slider/bg/11.png) no-repeat scroll 0 0 / cover;"
                 data--black__overlay="3">
                <div class="container">
                    <div class="row">
                        <div class="col-md-12 col-lg-17">
                            <div class="slider__inner">
                                <h1 style="font-size:3.25rem;">DECOMMISSIONING, DECONTAMINATION, DEINSTALLATION &
                                    DISPOSAL</h1>
                                <p>We provide specialist engineering consultancy and management services for the
                                    decommissioning, decontamination and deinstallation of end-of-life facilities and
                                    equipment.</p>
                                <div class="slider__btn">
                                    <a class="htc__btn" href="#anchor-contact">CONTACT US</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="htc__slider__fornt__img">
                    <img src="static/images/slider/fornt-img/1.png" alt="slider images">
                </div>
            </div>
            <!-- End Single Slide -->
        </div>
    </div>
    <!-- Start Slider Area -->
    <!-- Start Offer Area -->
    <section class="htc__offer__area htc__offer--2 pb--20 bg__gray">
        <div class="container">
            <div class="row">
                <div class="col-md-4 col-lg-4 col-sm-6 col-xs-12">
                    <div class="offer">
                        <div class="offer__icon">
                            <img src="static/images/others/icon-2/1.png" alt="icon images">
                        </div>
                        <div class="offer__details">
                            <h2>SOLUTIONS</h2>
                            <p>We offer turnkey solutions, including in live production environments, while maintaining
                                strict compliance with safety and environmental regulations. With over 50 years
                                experience in the highly regulated pharmaceutical and
                                semi-conductor sectors, you can trust us to manage your projects in a compliant
                                manner.</p>
                        </div>
                    </div>
                </div>
                <div class="col-md-4 col-lg-4 col-sm-6 col-xs-12 xmt-40">
                    <div class="offer separator">
                        <div class="offer__icon">
                            <img src="static/images/others/icon-2/2.png" alt="icon images">
                        </div>
                        <div class="offer__details">
                            <h2>BEST QUALITY</h2>
                            <p>We have developed relationships with reputable architectural, mechanical, electrical,
                                automation and waste management contractors, which will ensure efficient and
                                cost-effective solutions for your decommissioning, decontamination and deinstallation
                                projects. Where feasible, we can also work with your local preferred contractors.</p>
                        </div>
                    </div>
                </div>
                <div class="col-md-4 col-lg-4 hidden-sm col-xs-12 xmt-40">
                    <div class="offer separator">
                        <div class="offer__icon">
                            <img src="static/images/others/icon-2/3.png" alt="icon images">
                        </div>
                        <div class="offer__details" >
                            <h2>THE ENVIRONMENT</h2>
                            <p>Through our network of suppliers and contractors, we offer clients options to reduce the
                                environmental impact from deinstallation projects, while minimising costs through asset
                                recovery. This can take the form of re-selling of your equipment, and/or recycling of
                                waste materials like steel. </p>
                        </div>
                        <div id="anchor-about"></div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <!-- End Offer Area -->
    <!-- Start About Area -->
    <section class="htc__about__area about--2 text__pos ptb--60 bg__white">
        <div class="container" >
            <div class="row">
                <div class="col-md-4 col-lg-4 col-sm-12 col-xs-12 xmt-40">
                    <div class="about foo">
                        <div class="about__inner">
                            <h2>OUR VISION</h2>
                            <p>In the coming decades, we see a strong need for specific expertise
                                to manage the de-installation of end-of-life equipment and facilities. As the rate of
                                technological change increases, the need for clients to replace new with old will also
                                increase. In certain cases, the dismantling of old equipment and facilities increases
                                the free space of a building to make it more attractive for future installations of
                                newer technology and equipment. With the presence of hazardous materials, such as
                                asbestos and lead based materials, or process contamination from previous processes,
                                having the necessary expertise
                                to manage such deinstallation works is crucial to maintaining safety and environmental
                                control of deinstallation works. </p>
<!--                            <div class="about__btn">-->
<!--                                <a href="about.html">READ MORE</a>-->
<!--                            </div>-->
                        </div>
                    </div>
                </div>
                <div class="col-md-4 col-lg-4 col-sm-6 col-xs-12 xmt-40 ">
                    <div class="about foo">
                        <div class="about__inner">
                            <h2>ABOUT US</h2>
                            <p>With over 50 years experience over the complete project life cycle, from front end to
                                validation, we bring the necessary skills for the safe and environmentally-secure
                                dismantling of your facilities. With chemical
                                and construction engineering expertise, we can offer
                                turnkey solutions to clients who need to execute decommissioning, decontamination and
                                deinstallation projects. Here are some of the industries where we have successfully
                                managed
                                projects: -</p>
                            <p> > Semi-conductor</p>
                            <p> > Pharmaceutical</p>
                            <p> > Bio-pharmaceutical</p>
                            <p> > Cement production</p>
                            <p> > Food</p>
<!--                            <div class="about__btn">-->
<!--                                <a href="about.html">READ MORE</a>-->
<!--                            </div>-->
                        </div>
                    </div>
                </div>
                <div class="col-md-4 col-lg-4 col-sm-6 col-xs-12 xmt-40">
                    <div class="about foo">
                        <div class="about__inner">
                            <h2>OUR MISSION</h2>
                            <p>To deliver a high quality and professional service to our clients, we will provide: -</p>
                            <p style="font-weight: bold">- Detailed front end engineering through:</p>
                            <p> > Structural surveys</p>
                            <p> > Feasibility studies</p>
                            <p> > Strategic planning</p>
                            <p> > Recovery/re-use of assets</p>
                            <p style="font-weight: bold">- Premier management of projects using:</p>
                            <p> > Strong team formations</p>
                            <p> > Open communications</p>
                            <p> > Current legislative best practices</p>
                            <p> > Technical auditing</p>
                            <p> > Robust EHS auditing</p>
                            <p> > Proven project controls</p>
<!--                            <div class="about__btn">-->
<!--                                <a href="about.html">READ MORE</a>-->
<!--                            </div>-->
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- End About Area -->

    <!-- Start Services Area -->
    <section class="htc__team__area bg__white h1__team--one ptb--40 text__pos" id="anchor-services">
        <div class="container">
            <div class="row">
                <div class="col-xs-12">
                    <div class="section__title text-center">
                        <h2 class="title__line">OUR <span class="text--theme">SERVICES</span></h2>
                        <p></p>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="htc__team__wrap clearfix mt--30">
                    <!-- Start Decommissioning -->
                    <div class="col-md-3 col-lg-3 col-sm-4 col-xs-12 xmt-40">
                        <div class="team foo">
                            <div class="team__inner">
                                <div class="team__thumb">
                                    <a href="/decommissioning">
                                        <img src="static/images/slider/bg/13.png" alt="Decommissioning EOL"></a>
                                </div>
                            </div>
                            <div class="team__details">
                                <h2><a href="/decommissioning">DECOMMISSIONING</a></h2>
                            </div>
                        </div>
                    </div>
                    <!-- End Decommissioning -->
                    <!-- Start Decontamination -->
                    <div class="col-md-3 col-lg-3 col-sm-4 col-xs-12 xmt-40">
                        <div class="team foo">
                            <div class="team__inner">
                                <div class="team__thumb">
                                    <a href="/decontamination">
                                        <img src="static/images/slider/bg/12.png" alt="Decontamination EOL"></a>
                                </div>
                            </div>
                            <div class="team__details">
                                <h2><a href="/decontamination">DECONTAMINATION</a></h2>
                            </div>
                        </div>
                    </div>
                    <!-- End Decontamination -->
                    <!-- Start Deinstallation -->
                    <div class="col-md-3 col-lg-3 col-sm-4 col-xs-12 xmt-40">
                        <div class="team foo">
                            <div class="team__inner">
                                <div class="team__thumb">
                                    <a href="/deinstallation">
                                        <img src="static/images/slider/bg/14.png" alt="Deinstallation EOL"></a>
                                </div>
                            </div>
                            <div class="team__details">
                                <h2><a href="/deinstallation">DEINSTALLATION</a></h2>
                            </div>
                        </div>
                    </div>
                    <!-- End Deinstallation -->
                    <!-- Start Disposal -->
                    <div class="col-md-3 col-lg-3 hidden-sm col-xs-12 xmt-40">
                        <div class="team foo">
                            <div class="team__inner">
                                <div class="team__thumb">
                                    <a href="/disposal">
                                        <img src="static/images/slider/bg/15.png" alt="Disposal EOL"></a>
                                </div>
                            </div>
                            <div class="team__details">
                                <h2><a href="/disposal">DISPOSAL</a></h2>
                            </div>
                        </div>
                    </div>
                    <!-- End Disposal -->
                </div>
            </div>
        </div>
    </section>
    <!-- End Services Area -->
    <!-- Start Contacts -->
    <div class="htc__contact__address add-res bg__cat--1">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="htc__contact__wrap clearfix">
                        <!-- Start Email Address -->
                        <div class="ht__address__inner">
                            <div class="ht__address__icon glob">
                                <i class="fa fa-globe" aria-hidden="true"></i>
                            </div>
                            <div class="ht__address__details">
                                <p>
                                    <a href="mailto:brendan.horgan@eolengineering.com?subject=Mail from EOL Engineering Website">brendan.horgan@eolengineering.com</a>
                                </p>
                                <p>
                                    <a href="mailto:michael.carley@eolengineering.com?subject=Mail from EOL Engineering Website">michael.carley@eolengineering.com</a>
                                </p>
                            </div>
                        </div>
                        <!-- End Email Address -->
                        <!-- Start Mobile Numbers -->
                        <div class="ht__address__inner">
                            <div class="ht__address__icon">
                                <i class="fa fa-phone" aria-hidden="true"></i>
                            </div>
                            <div class="ht__address__details">
                                <p id="anchor-contact">(087) 4665553</p>
                                <p>(086) 1766487</p>
                            </div>
                        </div>
                        <!-- End Mobile Numbers -->
                        <!-- Start LinkedIn -->
                        <div>
                            <a href="https://www.linkedin.com/in/eol-engineering-ltd-37294a21a" target="_blank"
                               style="background-color:blue" class="btn btn-block btn-social btn-linkedin ">
                                <span class="fa fa-linkedin"></span>
                            </a>
                        </div>
                        <!-- End LinkedIn-->
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- End Contacts -->
</div>
<!-- Body main wrapper end -->

<!-- Placed js at the end of the document so the pages load faster -->

<!-- jquery latest version -->
<script src="static/js/vendor/jquery-1.12.0.min.js"></script>
<!-- Bootstrap framework js -->
<script src="static/js/bootstrap.min.js"></script>
<!-- All js plugins included in this file. -->
<script src="static/js/plugins.js"></script>
<script src="static/js/slick.min.js"></script>
<script src="static/js/owl.carousel.min.js"></script>
<!-- Waypoints.min.js. -->
<script src="static/js/waypoints.min.js"></script>
<!-- Main js file that contents all jQuery plugins activation. -->
<script src="static/js/main.js"></script>

</body>


</html>